.dot {
  width: inherit;
  height: inherit;
  background-color: $lightCyan;
  // transition: background-color .5s;
}

li.slick-active {
  // ~ li:last-child
  > .dot {
    cursor: default;
    // background-color: $gold;
  }
}

.dots {
  display: none;
  position: relative;
  > li {
    display: flex;
    width: 8px;
    height: 8px;
    &:nth-last-child(n+2) {
      margin-right: 8px;
    }
  }
  > .shadow-dot { // квадрат, который будет перемещаться
    position: absolute;
    left: 0;
    top: 0;
    background-color: $gold;
    transition: transform .35s;
    z-index: 1;
  }
}

.slick-list ~ .dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick {
  &-slider {
    user-select: none;
    touch-action: pan-y;
  }
  &-list {
    width: 100%;
    position: relative;
    &.draggable {
      cursor: grab;
    }
    &.grabbing {
      cursor: grabbing;
    }
  }
  &-track {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    left: 0;
    &::after,
    &::before {
      display: table;
      content: '';
    }
    &::after {
      clear: both;
    }
  }
  &-dotted {
    display: flex;
    flex-direction: column;
    >.dots {
      order: 10;
    }
  }
}

.slick-track,
.slick-list {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}