@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';

.categories-block {
  padding-top: 25px;
  padding-bottom: 50px;
}

.category {
  padding: 30px 40px 20px;
  max-width: 295px;
  &:first-child {
    padding-right: 80px;
    margin-bottom: 15px;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  &__descr {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}

// .marine-engine {
//   padding-right: 80px;
// }