@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';

.categories-block {
  padding-bottom: 50px;
}

.category {
  padding: 40px;
  max-width: 295px;
}

.marine-engine {
  padding-right: 80px;
}