.about-sect {
  padding-top: 45px;
  padding-bottom: 45px;
  &__title {
    margin-bottom: 30px;
  }
  &__descr {
    font: 16px/130% Geometria;
    color: $darkGrey;
    &:nth-last-of-type(n+2) {
      margin-bottom: 30px;
    }
  }
  &__link {
    font: 16px/100% Geometria;
    border-bottom: 1px solid;
    transition: border-bottom-color .5s;
    &:active {
      transform: scale(.975);
    }
    &-wrap {
      display: flex;
      align-items: center;
      margin: 80px 0 20px;
      color: $darkCyan;
      &::before {
        content: '';
        margin-right: 12px;
        display: inline-block;
        width: 28px;
        height: 0;
        border-bottom: 1px solid;
      }
    }
  }
  &__img {
    width: 100%;
    height: 230px;
    background: url('../img/img-placeholder.svg') center/cover no-repeat;
    object-fit: cover;
  }
}