@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';

.feat {
  width: 305px;
  &:nth-last-child(n+2) {
    margin-right: 100px;
  }
  &__img {
    width: 70px;
    height: 82px;
  }
  &__title {
    margin-top: 25px;
  }
  &-block {
    justify-content: flex-start;
  }
}