@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';


.feat {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &:nth-last-child(n+2) {
    margin-right: 20px;
  }
  &__img {
    width: 47px;
    height: 60px;
    object-fit: contain;
    object-position: bottom;
  }
  &__title {
    margin: 15px 0;
    font: 500 16px/140% Geometria;
    color: $darkCyan;
  }
  &__descr {
    max-width: 220px;
    font: 14px/140% Geometria;
    color: $darkGrey;
  }
  &-block {
    overflow: hidden;
  }
  &__dots {
      margin-top: 30px;
    }
}