.contacts-sect {
  padding: 45px calc(50vw - 140px) 0;
  &__title {
    margin-bottom: 25px;
  }
  &__form {
    margin-bottom: 65px;
  }

  &__map {
    margin: 20px 0 0 calc((50vw - 140px) * -1);
    width: 100vw;
    height: 120px;
    background-color: $lightCyan;
  }
}

.contacts-form {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px auto 0;
    width: 180px;
    height: 50px;
  }
  .field-user,
  .field-tel,
  .field-email {
    margin-bottom: 35px;
  }
  .field__inp {
    width: 280px;
  }
  &__bottom {
    margin-top: 20px;
  }
}

.contacts-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 16px/140% Geometria;
  color: $darkGrey;
  &__address {
    max-width: 230px;
    align-items: flex-start;
    > .address__text {
      margin-top: -4px;
    }
  }
  &__email {
    margin: 20px 0 25px;
  }
}

