.contacts-sect {
  // padding: 35px calc(50vw - 140px) 0;
  padding-top: 35px;
  padding-bottom: 0;
  overflow: hidden;
  &__title {
    margin-bottom: 35px;
  }
  &__form {
    // max-width: 300px;
    // margin: 0 auto 65px;
  }

  &__map {
    // margin: 20px 0 0 calc((50vw - 140px) * -1);
    // width: 100vw;
    margin: 20px 0;
    width: auto;
    height: 120px;
    // background-color: $lightCyan;
  }
}

.contacts-form,
.order-form {
  max-width: 300px;
  margin: 0 auto 60px;
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px auto 0;
    width: 180px;
    height: 50px;
  }
  .field {
    width: 100%;
  }
  .field-user,
  .field-tel,
  .field-email {
    margin-bottom: 35px;
  }
  .field__inp {
    // width: 280px;
    width: 100%;
    max-width: 300px;
  }
  &__bottom {
    margin-top: 10px;
  }
}

.contacts-info {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  font: 16px/100% Geometria;
  color: $darkGrey;
  &__address {
    // max-width: 280px;
    max-width: 250px;
    align-items: flex-start;
    line-height: 140%;
    > .address__text {
      margin-top: -4px;
    }
  }
  &__tel {
    margin: 0 auto 25px 0;
    padding-right: 10px;
  }
  &__email {
    margin-bottom: 25px;
  }
}

