@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';


.index-hero {
  padding-top: 0;
  &__slider {
    color: $white;
    position: relative;
    .dot {
      background-color: transparentize($lightCyan, .9);
    }
    &.slick-slider {
      > .slick-list {
        overflow: hidden;
      }
      .index-hero__slide {
        margin: 0;
      }
    }
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__slide {
    width: 100%;
    height: responsive('320->575', '280->500');
    max-height: 460px;
    margin: auto;
    padding: 15px 12px 45px;
    background:
      url('../img/img-placeholder.svg') center/cover no-repeat,
      url('#') center/cover no-repeat;
    &-title {
      max-width: 260px;
      margin-top: auto;
      font: bold 24px/140% Geometria
    }
    &-logo {
      width: 34px;
      height: 47px;
    }
  }

  &__preview-catalog {
    margin-top: 20px;
  }
}

.preview-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font: bold responsive('320->575', '18->22')/140% Geometria;
  // font-size: responsive('320->575', '18->22');
  color: $darkCyan;
  &__link {
    // width: 280px;
    // height: 150px;
    width: 100%;
    height: responsive('320->575', '150->190');
    padding: 20px;
    position: relative;
    background-color: $aliceBlue;
    border: 1px solid transparent;
    transition: border-color .5s;
    overflow: hidden;
    &:nth-last-child(n+2) {
      margin-bottom: 20px;
    }
    &-title {
      display: inline-block;
      max-width: 120px;
      z-index: 1;
      > .u {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .5s .05s;
      }
    }
    &-img {
      position: absolute;
      bottom: 0;
      right: 0;
      // width: 135px;
      // height: 95px;
      width: responsive('320->575', '135->200');
      height: responsive('320->575', '95->140');
      object-fit: contain;
      object-position: right bottom;
      font-size: 12px;
      line-height: 120%;
      transition: right .5s .25s;
    }
  }
}