@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';

.faq-sect {
  padding-top: 70px;
  &__descr {
    margin-right: 110px;
    max-width: 280px;
  }
}