.about-sect {
  padding-top: 40px;
  padding-bottom: 0;
}

.about-sect__text-wrap {
  margin-bottom: 45px;
}

.world-map {
  overflow: auto;
  padding-bottom: 65px;
}

.world-map__img {
  max-width: none;
}

.production-sect {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 70px;
}

.production-sect__title {
  margin-bottom: 40px;
  line-height: 100%;
}

.production-sect__descr {
  font: 16px/140% Geometria;
  margin-bottom: 15px;
}

.production-sect__img {
  width: 100%;
  height: 380px;
  margin-top: 45px;
  order: 10;
  -o-object-fit: cover;
  object-fit: cover;
}
