.world-map {
  overflow: auto;
}

.world-map__img {
  max-width: none;
}

.production-sect {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.production-sect__title {
  margin-bottom: 40px;
  line-height: 100%;
}

.production-sect__descr {
  font: 16px/140% Geometria;
}

.production-sect__descr:nth-of-type(n+2) {
  margin-bottom: 30px;
}

.production-sect__img {
  margin-top: 55px;
  order: 10;
}
