.sect {
  padding-top: 65px;
  padding-bottom: 65px;
}

.sect-title {
  font-size: 30px;
}

.breadcrumbs {
  padding-top: 5px;
  font-size: 16px;
}

.thanks-popup__cnt {
  max-width: 430px;
  padding: 40px 65px 75px;
}

.thanks-popup__close {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin: 0 0 30px auto;
  transform: translate(50px, -30px);
}

.thanks-popup__title {
  margin-bottom: 15px;
  font-size: 20px;
}

.thanks-popup__descr {
  font-size: 16px;
}

.mobile-menu {
  padding-left: 80px;
}

.mobile-menu__tel, .mobile-menu__email {
  font-size: 16px;
}

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hdr__tel {
  font-size: 16px;
}

.about-sect {
  padding-top: 30px;
  padding-bottom: 15px;
}

.about-sect__link-wrap {
  margin: 25px 0 0;
}

.about-sect__descr {
  font-size: 14px;
  line-height: 145%;
}

.about-sect__descr:nth-last-of-type(n+2) {
  margin-bottom: 20px;
}

.about-sect__img {
  width: 190px;
  height: 280px;
  margin-left: 45px;
}

.about-sect__content-wrap {
  display: flex;
  align-items: flex-start;
}

.partners-block__img {
  width: 160px;
  height: 160px;
}

.partners__dots {
  margin-bottom: 30px;
}

.contacts-sect {
  padding-top: 20px;
}

.contacts-sect__form {
  margin-bottom: 75px;
}

.contacts-sect__map {
  margin-left: calc((50vw - 304px) * -1);
  height: 180px;
}

.contacts-sect__title,
.order-sect__title {
  margin-bottom: 60px;
}

.contacts-form .field__inp,
.order-form .field__inp {
  width: 285px;
}

.contacts-form .field-user,
.contacts-form .field-tel,
.order-form .field-user,
.order-form .field-tel {
  margin-bottom: 55px;
}

.ftr__nav .nav__list-item:nth-child(4), .ftr__nav .nav__list-item:nth-child(5), .ftr__nav .nav__list-item:nth-child(6) {
  margin-left: 100px;
}

.ftr__bottom {
  margin: 22px 0 0;
  float: right;
}
