.hdr {
  padding-top: 25px;
  padding-bottom: 25px;
}

.hdr__tel {
  margin: 0;
}

.hdr__logo {
  width: 210px;
  height: 40px;
}

.hdr__nav {
  display: block;
  margin: 0 60px 0 auto;
  color: #103F45;
  font: 16px/100% Geometria;
}

.hdr__nav > .nav__list {
  display: flex;
  align-items: center;
}

.hdr__nav > .nav__list > .nav__list-item {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .35s;
}

.hdr__nav > .nav__list > .nav__list-item:nth-last-child(n+2) {
  margin-right: 45px;
}

.hdr__nav .nav__link {
  display: inline-block;
}

.hdr .burger {
  display: none;
}

.about-sect {
  padding-top: 40px;
  padding-bottom: 70px;
}

.about-sect__title {
  margin-bottom: 40px;
}

.about-sect__img {
  width: 260px;
  height: 355px;
  margin: -65px 0 0 50px;
}

.about-sect__descr {
  font-size: 16px;
}

.partners__dots {
  margin-top: 30px;
}

.contacts-sect {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}

.contacts-sect__title {
  width: 100%;
  margin-bottom: 30px;
}

.contacts-sect__form {
  max-width: 545px;
  margin: 0;
}

.contacts-sect__map {
  flex-shrink: 0;
  margin: 50px 0 0 calc((50vw - 412px) * -1);
}

.contacts-sect__info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.contacts-info__email {
  margin: 25px 0 35px;
}

.contacts-info__address {
  max-width: 230px;
}

.contacts-form-wrapper {
  display: flex;
  align-items: flex-end;
}

.contacts-form .field__inp {
  width: 260px;
}

.p404 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p404__img {
  top: -60px;
  right: -100px;
}

.p404__title {
  margin: 80px 0 30px;
}

.ftr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.ftr__top {
  max-width: 160px;
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.ftr__copyright > .copyright__text {
  margin: 30px 0 5px;
}

.ftr__logo {
  height: 35px;
}

.ftr__middle {
  max-width: 400px;
  flex-shrink: 0;
  margin: 6px 0 0;
}

.ftr__bottom {
  max-width: 160px;
  margin: 6px 0 0;
}
