@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';

.hdr__nav {
  .nav__list-item {
    &:hover {
      border-bottom-color: currentColor;
    }
  }
}

.hdr__tel-block {
  &:hover {
    .tel-icon__path {
      fill: $darkCyan;
    }
  }
}

.preview-catalog__link {
  &:hover {
    border-color: currentColor;
    > .preview-catalog__link-title {
      text-decoration-color: currentColor
    }
    > .preview-catalog__link-img {
      right: -45px;
      transition-delay: .05s;
    }
  }
}