@import 'assets/reset';
@import 'assets/fonts';
@import 'assets/grid';
@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';
@import 'assets/animations';

.chromeperfectpixel-overlay,
.chromeperfectpixel-overlay-container {
  pointer-events: none !important;
}

.hide,
div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response {
  display: none !important;
}

.dev__link {
  position: relative;
  transition: color .3s;
  font: 600 14px/100% Segoe UI;
  letter-spacing: 0.08em;
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $gold;
    opacity: 0;
    transition: opacity .3s;
  }
}

.nav__list-item.current > .nav__link {
  opacity: .5;
  pointer-events: none;
}

// .sub-menu > .current > .nav__link {
//   opacity: 1;
//   pointer-events: auto;
// }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fxdc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.sect {
  padding-top: 45px;
  padding-bottom: 45px;
}

.sect-title {
  font: bold 24px/140% Geometria;
  color: $darkCyan;
}

.tel,
.email,
.address {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  &__icon {
    margin-right: 5px;
  }
}

.ftr__nav .u,
.copyright__private-policy-link {
  border-bottom: 1px solid transparent;
  transition: color .35s, border-bottom-color .35s;
}

div.tel__icon,
div.email__icon,
div.address__icon, {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background: url('../img/icon-phone.svg') center/contain no-repeat;
}

div.email__icon {
  background-image: url('../img/icon-email.svg');
}

div.address__icon {
  background-image: url('../img/icon-geo.svg');
}

.about-sect__img,
.production-sect__img {
  &.lazy {
    background: url('../img/img-placeholder.svg') center/100% 100% no-repeat;
  }
}

.loader {
  display: none;
  // display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  &.active {
    display: flex;
    animation: fadeIn .5s;
  }
  &__circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $cyan;
    border-left-color: $cyan;
    animation: spin .5s linear infinite;
  }
}

//blocks import
@import 'blocks/buttons/buttons';
@import 'blocks/breadcrumbs/breadcrumbs';
@import 'blocks/cards/cards';
@import 'blocks/category-cards/category-cards';
@import 'blocks/forms/forms';
@import 'blocks/popups/popups';
@import 'blocks/mobile-menu/mobile-menu';
@import 'blocks/sliders/sliders';
@import 'blocks/header/header';
@import '../layouts/about/about';
@import '../layouts/partners/partners';
@import '../layouts/contacts/contacts';
@import 'blocks/404/404';
@import 'blocks/footer/footer';