@import 'assets/reset';
@import 'assets/fonts';
@import 'assets/grid';
@import 'assets/colors';
@import 'assets/variables';
@import 'assets/mixins';
@import 'assets/animations';

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//blocks import
@import 'blocks/buttons/buttons';
@import 'blocks/breadcrumbs/breadcrumbs';
@import 'blocks/cards/cards';
@import 'blocks/category-cards/category-cards';
@import 'blocks/forms/forms';
@import 'blocks/popups/popups';
@import 'blocks/mobile-menu/mobile-menu';
@import 'blocks/sliders/sliders';
@import 'blocks/header/header';
@import '../layouts/mobile-menu/mobile-menu';
@import '../layouts/about/about';
@import '../layouts/partners/partners';
@import '../layouts/contacts/contacts';
@import 'blocks/footer/footer';
