@import '../../scss/assets/colors';
@import '../../scss/assets/variables';
@import '../../scss/assets/mixins';

.order-sect {
  background-size: 510px 385px, 100%;
  &__title {
    margin-bottom: 65px;
  }
  &__contacts-info {
    margin-top: 80px;
  }
}

.order-form {
  max-width: 590px;
  .field__inp {
    width: 285px;
  }
}